<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirection automatique vers HTTPS (SSL)
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
  # Ensure index.html exists in the request path
  RewriteRule ^index\.html$ - [L]
  
  # If the requested filename is not a directory or a file that exists, route to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
